@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter Variable', sans-serif;

}

*{
    padding: 0;
    margin: 0;
}


.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #4d4d4d #1e1e1e; /* Thumb & Track for Firefox */
  overflow: auto;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #1e1e1e;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #4d4d4d;
  border-radius: 10px;
  background-clip: padding-box;
  border: 2px solid transparent;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.25);
  transition: background 0.3s ease;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #6a6a6a;
}